version: "3.6"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-api
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html/
    networks:
      - app
  db:
    platform: linux/x86_64
    image: mysql:5
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '33066:3306'
    expose:
      - '3306'
    volumes:
      - .mysql:/var/lib/mysql
    networks:
      - app
volumes:
  app:
networks:
  app:
    driver: bridge
